<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Simple Chat</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" />
<link href="../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet" />
</head>
<body>
	<!--メッセージ -->
	<div id="contents" class="container-fluid">
		<div id="messages" class="col-xs-12">
			<!--/*-->
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<dl>
				<dt>2017/02/12 15:00:11 User01</dt>
				<dd>発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言発言</dd>
			</dl>
			<!--*/-->
		</div>
	</div>

	<nav id="navi" class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<div id="inputArea" class="container-fluid col-xs-10">
				<div class="row">
					<div class="form-group form-group-sm col-xs-3">
						<input type="text" id="name" class="form-control" placeholder="name" />
					</div>
					<div>
						<button id="connect" class="btn btn-default btn-sm">Connect</button>
						<button id="disconnect" class="btn btn-default btn-sm" disabled="disabled">Disconnect</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group form-group-sm col-xs-10">
						<input type="text" id="message" class="form-control" placeholder="message" />
					</div>
					<div class="col-xs-2">
						<button id="send" class="btn btn-default btn-sm" disabled="disabled">Send</button>
					</div>
				</div>
			</div>
			<div id="user-list" class="col-xs-2">User01, User02, User03, User04, User05, User06, User07, User08, User09, User10</div>
		</div>
	</nav>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<script src="./js/shortcut.js"></script>
<script src="./js/chat.js"></script>
</html>